<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width,initial-scale=1.0">
  <link rel="icon" href="<%= BASE_URL %>logo.ico">
  <title>Monage</title>

  <!-- <link rel="manifest" href="manifest.webmanifest"> -->

  <meta property='og:title' content='Manage and save along with collaboration' data-dynamic='true' />
  <meta property='og:site_name' content='Monage' data-dynamic='true' />
  <meta property='og:url' content='https://money-manager.zeyarpaing.vercel.app/' />
  <meta property='og:description' content='A collaborative expense/income management app.' data-dynamic='true' />
  <meta property='og:type' content='article' data-dynamic='true' />
  <meta property='og:image' content='social.png' />
  <meta property='og:image:type' content='image/png' data-dynamic='true'>
  <meta property='og:image:width' content='1200' data-dynamic='true' />
  <meta property='og:image:height' content='630' data-dynamic='true' />
  <meta property='article:author' content='Zeyar Paing' data-dynamic='true' />
  <meta property='og:locale' content='en_US' />


  <meta itemprop="url" content="https://money-manager.zeyarpaing.vercel.app/">
  <meta name="author" content="Zeyar Paing" />

  <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
  <meta name="theme-color" content="#4c5cb3">
  <link rel="shortcut icon" href="logo.svg" />
  <link rel="icon" sizes="192x192" href="logo.svg">
  <meta name="description" content="A collaborative expense/income management app." />
  <meta name="keywords" content="monage, collaborative, expense, income, tracker, money, manager, money manager, financial management">
  <meta name="reply-to" content="zeyarpaingssit@gmail.com">

  <meta name="twitter:card" content="summary_large_image">
  <meta name='twitter:title' content='Manage and save along with collaboration'>
  <meta name='twitter:description' content='A collaborative expense/income management app.'>
  <meta name='twitter:image' content='social.png'>
  <meta name='twitter:domain' content='https://money-manager.zeyarpaing.vercel.app/'>
  <meta name="twitter:image:alt" content="Monage logo">
</head>

<body>
  <noscript>
    <strong>We're sorry but <%= htmlWebpackPlugin.options.title %> doesn't work properly without JavaScript enabled.
      Please enable it to continue.</strong>
  </noscript>
  <div id="app"></div>
  <script>

  </script>
</body>

</html>