@import './tailwind.css';
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap');

* {
  scroll-behavior: smooth;
  font-family: 'Roboto', sans-serif;
  letter-spacing: 0.33px;
}

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 0.6px solid rgb(197, 197, 197);
}

input:active,
input:focus,
textarea:focus,
textarea:active {
  outline: none;
  border-color: #3273dc;
  box-shadow: 0 0 0 0.125em rgba(50, 115, 220, 0.25);
}
button:active {
  outline: none;
}
select:active,
select:focus {
  outline: none;
}
select {
  @apply gradient-btn;
  &:hover {
    @apply gradient-btn-hov;
  }
}
