<template>
  <div class="about">
    <div>
      <h1>About</h1>
      <table class="about-detail">
        <tr>
          <td>Name</td>
          <td>Monage</td>
        </tr>
        <tr>
          <td>Features</td>
          <td>
            <ul>
              <li>Record daily usage</li>
              <li>Review usage history</li>
              <li>Collaborative wallet for teams</li>
              <li>Shareable usage history for collaborations</li>
              <li>Distinguish wallets by colors</li>
            </ul>
          </td>
        </tr>
        <tr>
          <td>Version</td>
          <td>1.0.2</td>
        </tr>
        <tr>
          <td>Technologies</td>
          <td>
            <ul>
              <li>Vue.js</li>
              <li>Tailwind CSS</li>
              <li>Node.js Express</li>
              <li>Mongo DB</li>
            </ul>
          </td>
        </tr>
        <tr>
          <td>Developer</td>
          <td>
            <a href="https://zeyar.dev">Zeyar Paing</a>
          </td>
        </tr>
      </table>
    </div>
  </div>
</template>

<script>
  export default {
    name: 'Views.About',
    data() {
      return {}
    },
  }
</script>
<style scoped>
  .about {
    width: 100%;
    height: 100vh;
    display: grid;
    place-items: center;
    @apply py-16;

    h1 {
      @apply text-xl font-black text-center color-primary;
    }
    .about-detail {
      @apply text-lg;
      tr {
        border-bottom: 1px solid #4c5cb3;
      }
      td {
        @apply pr-2 pt-2;
        vertical-align: top;

        a {
          @apply color-primary;
        }
      }
    }
  }
</style>
