<template>
  <div
    class="not-found-back"
    :style="{ backgroundImage: `url(${notFoundImg})` }"
  >
    <p class="message">
      The route, <code>{{ $route.path }}</code
      >that you're trying to access had been moved or never existed.
    </p>
    <Button
      :btnType="'button'"
      :isImportant="true"
      :text="'Go to Home'"
      @click.native="$router.push('/')"
    ></Button>
  </div>
</template>
<script>
  import notFoundImg from '@/assets/notfound.svg'
  import Button from '@/components/globals/Button'
  export default {
    data() {
      return {
        notFoundImg,
      }
    },
    components: {
      Button,
    },
  }
</script>
<style scoped>
  .not-found-back {
    @apply py-16 px-6 text-center;
    height: 90vh;
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;

    .message {
      @apply pt-20 mb-2;
      margin-top: 21rem;
      code {
        @apply gradient-btn p-1 rounded mr-1;
      }
    }
  }
  @media (max-width: 768px) {
    .not-found-back {
      background-size: 200%;
    }
  }
</style>
